/* ItemDetail.module.css */


.cardItem {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.itemHeader{
    font-size: 24px;
    margin-bottom: 10px;
}

.itemImg {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.info p {
    font-size: 14px;
    margin-bottom: 5px;
}

.itemFooter {
    display: flex;
    justify-content: flex-end;
}