/* Item.module.css */

.cardItem {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.itemHeader {
    font-size: 18px;
    margin: 0;
}

.itemImg {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.info {
    font-size: 14px;
    margin-bottom: 5px;
}

.item footer {
    display: flex;
    justify-content: flex-end;
}